# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
venv/
.venv/
env/
ENV/

# Archivos de sistema operativo
.DS_Store
Thumbs.db
ehthumbs.db

# Configuraciones de IDE / Editores
.vscode/
.idea/
*.swp
*.swo
